<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
</head>
<body>
    <div class="container">
      <h2>Welcome to the Library Management System</h2>
        <nav>
            <a href="/createBook">Add Book</a>
            <a href="/searchBooks">Search Books</a> <%-- Get Book list --%>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</body>
</html>
