<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <div class="navbar">
        <span class="navbar-title">Book Management System</span>
    </div>
    <div class="container">
      <h2>Welcome to the Book Management System</h2>
        <nav>
            <a href="/createBook">Add Book</a>
            <a href="/searchBooks">Search Books</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</body>
</html>
